<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="CheckDigit" value="https://pkgs.dev.azure.com/marcoshidalgonunes/CheckDigit/_packaging/CheckDigit/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <CheckDigit>
      <add key="Username" value="marcoshidalgonunes" />
	  <add key="ClearTextPassword" value="FQ86JXmG9DMitcEzKIXSOuwVvISQgwV9lQacXJYx8YOOTfii3pVqJQQJ99ALACAAAAAAAAAAAAASAZDOv4Ov" />
    </CheckDigit>
  </packageSourceCredentials>  
</configuration>