<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="CheckDigit" value="https://pkgs.dev.azure.com/marcoshidalgonunes/CheckDigit/_packaging/CheckDigit/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <CheckDigit>
      <add key="Username" value="marcoshidalgonunes" />
	  <add key="ClearTextPassword" value="2WAnQ1s5PjfHQwNa1IxeB7ZrT6iGC8ANP9OZmdAGY2pAbvGxK2T3JQQJ99BGACAAAAAAAAAAAAASAZDO2b1c" />
    </CheckDigit>
  </packageSourceCredentials>  
</configuration>